<ion-view view-title="Categories">
  <ion-content>
  <div class="list">

  <a class="item item-icon-left" href="#/app/household
  " id="list">
    <i class="icon ion-medkit"></i>
    House Hold
  </a>
  <a class="item item-icon-left" href="#/app/fooditems">
    <i class="icon ion-fork"></i>
    <i class="icon ion-knife" style="padding-left:10px;"></i>
    Food Items
  </a>
  <a class="item item-icon-left" href="#/app/babycare">
    <i class="icon ion-email"></i>
    Baby Care
  </a>
  <a class="item item-icon-left" href="#/app/pharmacy">
    <i class="icon ion-medkit"></i>
    Pharmacy
  </a>
  <a class="item item-icon-left" href="#/app/frozenfoods">
    <i class="icon-car"></i>
    Frozen Food
  </a>
  <a class="item item-icon-left" href="#/app/beverages">
    <i class="icon ion-wineglass"></i>
    Beverages
  </a>
  	<a class="item item-icon-left" href="#/app/fashion">
    <i class="icon ion-wineglass"></i>
    Fashion
  </a>
  </div>


  </ion-content>
</ion-view>
