<ion-view view-title="Dashboard" >
  <ion-content>
    <ion-list>
      <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      <div style="margin-top: 35%">
      	<h2 id="h">Welcome To SAUDA</h2>
      </div>

      <div style="margin-top: 20%">
        <h2 id="h2">Would you like to</h2>
      </div>

      <button class="button button-block button-assertive" id="" style="margin-top:12%;margin-left: 12%; width:75%;" ui-sref="app.stores">
        <i class="icon ion-plus" style="padding-right: 12px;"></i>
          Create a LIST
      </button>


      <button class="button button-block button-assertive" id="c" style="margin-top:5%; margin-left:12%; width:75%;">
        <i class="icon ion-eye" style="padding-right: 12px;"></i>
          View the LIST
      </button>


      <button class="button button-block button-assertive" id="c" style="margin-top:5%; margin-left:12%; width:75%;">
        <i class="icon ion-person-stalker" style="padding-right: 12px;"></i>
          Share the LIST
      </button>


      


    </ion-list>
  </ion-content>
</ion-view>
