<ion-view view-title="Dashboard" >
  <ion-content>
    <ion-list>
      <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      <div style="margin-top: 20%">
      	<h2 id="h">Welcome To SAUDA</h2>
      </div>

      <div style="margin-top: 20%">
        <h2 id="h2">Would you like to</h2>
      </div>

      <button class="button button-dark" id="c">
        <i class="icon ion-plus" style="padding-right: 12px;"></i>
          Create a LIST
      </button>


      


    </ion-list>
  </ion-content>
</ion-view>
