<ion-view view-title="Dashboard" >
  <ion-content>
    <ion-list>
      <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      <div style="margin-top: 20%">
      	<h3 style="margin-top: 5%; margin-left: 30%; margin-right: 10%;">Welcome To Sauda</h3>
      </div>

      <div class="card">
		  <button class="button" style="margin-left: 20%; margin-right:20%;">
  				<img src="../img/upload2.png" class="upload">
		  </button>
	  </div>


    </ion-list>
  </ion-content>
</ion-view>
