<ion-view view-title="Location">
  <ion-content>
    <!-- <h1>Location</h1> -->

    <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <div style="margin-left:2%;">
  <button class="button button-calm">
    Search
  </button>
  </div>
 
  </div>

  <div style="margin-right:3%; margin-left:3%;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.895704633721!2d67.07914931501648!3d24.86741145110324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33ea56f3c3859%3A0x98c7a650e65150b1!2sSkill+Orbit!5e0!3m2!1sen!2s!4v1468234902024" height="550" frameborder="0" style="border:0; width:100%; margin-top: 3%; " allowfullscreen></iframe>
</div>

  </ion-content>
</ion-view>
