<ion-modal-view>

  <ion-content class="bg">




  <img src="../img/hip-logo.png" style=" width: 60%; margin-left: 20%; margin-top: 20%;"></img>

<div class="list list-inset" style="background: transparent; margin-top: 30%;">
  <label class="item item-input" id="label" style="color:#fff;">
    <i class="icon ion-person placeholder-icon" style="color:#fff;"></i>
    <input type="text" placeholder="Username" style="margin-left: 3%; color: #fff;">
  </label>
  <label class="item item-input" id="label" style="margin-top: 2%;">
    <i class="icon ion-ios-locked placeholder-icon" style="color:#fff;"></i>
    <input type="password" placeholder="Password" style="margin-left: 4%; color: #fff;">
  </label>
  <button class="button button-block button-positive" type="submit" ui-sref = "app.dashboard" style="margin-top: 10%;">Log in</button>
  <h4 style="color: #fff; margin-left: 42%;">-- Or --</h4>
  <button class="button button-block button-positive" type="submit" ui-sref = "signup" style="margin-top: 5%;">Signu up</button>
</div>

  </ion-content>
</ion-modal-view>
