<ion-modal-view>

  <ion-content>




<!--   <img src="../img/hip-logo.png" style=" width: 60%; margin-left: 20%; margin-top: 20%;"></img> -->
<h1 style="color:red; width: 60%; margin-left: 30%; margin-top: 10%;">Sauda</h1>

<div class="list list-inset" style="background: transparent; margin-top: 30%;">
  <label class="item item-input" id="label" style="color:">
    <i class="icon ion-person placeholder-icon" style="color: #4f4f4f;" ></i>
    <input type="text" placeholder="User Name" style="margin-left: 3%; color: #4f4f4f;">
  </label>



  <label class="item item-input" id="label" style="margin-top: 2%;">
    <i class="icon ion-ios-locked placeholder-icon" style="color: #4f4f4f;" ></i>
    <input type="password" placeholder="Password" style="margin-left: 4%; color: #4f4f4f;">
  </label>
  </div>

 <!-- <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
</div> -->

<div style="width:75%; margin-left: 12%; ">
  <button class="button button-block button-assertive" type="submit" ui-sref = "app.dashboard" style="margin-top: 10%;">Log in</button>


  <h4 style="color: #4f4f4f; margin-left: 42%;">-- Or --</h4>
  <button class="button button-block button-assertive" type="submit" ui-sref = "signup" style="margin-top: 5%;">Signu up</button>
</div>





  </ion-content>
</ion-modal-view>
