<ion-view view-title="Settings">
  <ion-content>
  <div>
  	<div class="list">
  	<a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Profile Setting
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-locked"></i>
    Privacy Settings
  </a>

  

  <li class="item item-toggle item-icon-left">
  <i class="icon ion-music-note"></i>
     Aplication Tones
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</div>
  
  </ion-content>
</ion-view>
