<ion-modal-view>
  <ion-content style="">




  <img src="../img/camera-icon.png" style=" width:25%; height: 12.5%; margin-left: 38%; margin-top: 20%;"></img>
  <h4 style="color: black; margin-left: 35%;">Upload Photo</h4>

<div class="list list-inset" style="background: transparent; margin-top: 25%;">
  <label class="item item-input" id="label">
    <i class="icon ion-person placeholder-icon" style="color: black;"></i>
    <input type="text" placeholder="Full-Name" style="margin-left: 3%; color: black;">
  </label>

  <label class="item item-input" id="label" style=" margin-top: 2%;">
    <i class="icon ion-android-call placeholder-icon" style="color: black;"></i>
    <input type="tel" placeholder="Contact No." style="margin-left: 3%; color: black;">
  </label>

  <label class="item item-input" id="label" style="margin-top:2%;">
    <i class="icon ion-email placeholder-icon" style="color: black;"></i>
    <input type="email" placeholder="E-mail Address" style="margin-left: 3%; color: black;">
  </label>

  <label class="item item-input" id="label" style=" margin-top: 2%;">
    <i class="icon ion-locked placeholder-icon" style="color: black;"></i>
    <input type="password" placeholder="Password" style="margin-left: 3%; color: black;">
  </label>

  
  <button class="button button-block button-assertive" type="submit" ui-sref="login" style="margin-top: 10%; width:75%; margin-left:12%">Sign up</button>
  
</div>

  </ion-content>
</ion-modal-view>
