<ion-modal-view>
  <ion-content style="background-color: #4f4f4f;">




  <img src="../img/camera-icon.png" style=" width:25%; height: 12.5%; margin-left: 38%; margin-top: 20%;"></img>
  <h4 style="color: #fff; margin-left: 35%;">Upload Photo</h4>

<div class="list list-inset" style="background: transparent; margin-top: 25%;">
  <label class="item item-input" id="label">
    <i class="icon ion-person placeholder-icon" style="color: #fff;"></i>
    <input type="text" placeholder="Username" style="margin-left: 3%; color: #fff;">
  </label>
  <label class="item item-input" id="label" style=" margin-top: 2%;">
    <i class="icon ion-locked placeholder-icon" style="color: #fff;"></i>
    <input type="password" placeholder="Password" style="margin-left: 3%; color: #fff;">
  </label>
  <label class="item item-input" id="label" style="margin-top: 2%;">
  <span class="input-label" style="color: #fff;">Date Of Birth</span>
  <input type="date" style="color: #fff; margin-left: 10%;">
</label>
 <label class="item item-input item-select" id="label" style="margin-top: 2%;">
    <div class="input-label" style="color: #fff;">
      Type
    </div>
    <select id="label" style="color: #fff;">
      <option selected>User</option>
      <option>Administrator</option>
    </select>
  </label>
  <button class="button button-block button-positive" type="submit" ui-sref="login" style="margin-top: 10%;">Sign up</button>
  
</div>

  </ion-content>
</ion-modal-view>
