<ion-view view-title="Stores">
  <ion-content>

<div class="list card">

  <div class="list card">

    <div class="item item-avatar">
      <img src="../img/Imtiaz1.png">
      <h2>Imtia Super Market</h2>
      <!--<p>November 05, 1955</p>-->
    </div>

    <div class="item item-body">
      <img class="full-image" src="../img/imtiaz.png">
      <!--<p>-->
        <!--.-->
      <!--</p>-->

        <!--<a href="#" class="subdued">1 Like</a>-->
        <!--<a href="#" class="subdued">5 Comments</a>-->
      <!--</p>-->
    </div>

  </div>
  <div class="list card">

    <div class="item item-avatar bar-positive">
      <img src="../img/Hyperstar.png">
      <h2>Hyperstar Super Market</h2>
      <!--<p></p>-->
    </div>

    <div class="item item-body">
      <img class="full-image" src="../img/hyperstar-logo.jpg">
      <!--<p>-->
      <!---->
      <!--<p>-->
        <!--<a href="#" class="subdued">1 Like</a>-->
        <!--<a href="#" class="subdued">5 Comments</a>-->
      <!--</p>-->
    </div>

  </div>

  <!--<div class="item item-image">-->
    <!--<img src="../img/carr.jpg">-->
  <!--</div>-->

  <p class="item item-left">Imtiaz Super Market</p>

</div>
</ion-content>
</ion-view>
